.nav2 {
    position: fixed;
    display: none;
    top: 0;
    left: 200px;
    bottom: 0;
    z-index: 12;
    transition-duration: 0.5s;
    margin: 0;
    padding: 0;
    width: 365px;
    min-height: 100vh;
    background-color: var(--white-color);
    box-shadow: 0 0 10px var(--shadow-color);
}
.nav2_toggle.active .nav2{
    display: none;
}
.nav2_center {
    min-width: 365px;
    min-height: 72px;
    margin: 0;
    padding: 0;
}

.nav2 li {
    display: flex;
}

.nav2_searchbox {
    width: 80%;
    height: 35px;
    position: relative;
    left: 35px;
    top: 20px;
    border: 1px solid var(--main-color);
    border-radius: 4px;
}

.nav2_input--button {
    position: absolute;
    display: inline-block;
    border: none;
    background-color: transparent;
    color: var(--main-color);
    width: 25px;
    height: 25px;
    padding: 0;
    top: 8px;
    left: 2px;
    font-size: 0.8rem;
}

.nav2_input--text {
    position: absolute;
    height: 35px;
    width: 271px;
    left: 29px;
    padding: 0;
    background-color: transparent;
    border-style: none;
}

input:focus {
    outline: none;
}

.nav2_img {
    position: absolute;
    top: 75px;
    height: 170px;
    min-width: 365px;
}

.nav2_img img {
    position: absolute;
    width: 300px;
    height: 150px;
    margin-top: 10px;
    left: 32.5px;
}

.nav2_imgbox {

    height: 150px;
}

.nav2_infobox {

    width: 100%;
    height: 150px;
}

.nav2_containbox {
    top: 30px;
    width: 100%;
    height: 25%;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    transition-duration: 0.3s;
}
.nav2_containbox::-webkit-scrollbar {
    display: none;
}
.nav2_btnframe {
    position: relative;
    width: 100%;
    height: 10%;
}

.nav2_name {
    display: flex;
    position: absolute;
    top: 240px;
}

.nav2_name span {
    display: block;
    width: 280px;
    height: 25px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 0 0 40px;
}

.nav2_info {
    display: block;
    position: absolute;
    top: 280px;
}

.nav2_info span {
    display: block;
    width: 280px;
    height: 160px;
    padding: 0 0 0 40px;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.nav2_hr {
    position: absolute;
    left: 5%;
    width: 90%;

}
.nav2_toggle{
    z-index: 12;
    position: fixed;
    top: 45%;
    left: 565px;
    bottom: 0;
    transition-duration: 0.5s;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 50px;
    border-color: var(--main-color);
    border-right-style: solid;  
    border-left-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--white-color);
    
}
.nav2_toggle i{
    font-size: 1.2rem;
}
.nav2_toggle :hover{
    color: var(--main-color);
}
.progress-bar-icon> .fa-solid.fa-child {
    margin-left: 13.5px;
}

.container {
    margin-left: 4%;
    margin-top: 5%;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    /*세로정렬*/
    background-color: #f0f4f5;


}

.container .progress-container {
    margin-bottom: 5px;
}

.container .progress-container .progress-bar {
    position: relative;
    width: 335px;
    height: 40px;
    border-radius: 5px;
    background-color: #f0f4f5;
    box-shadow: 3px 4px 5px 0px rgba(35, 0, 77, 0.2);
    transition-duration: 0.2s;
}

.progress-bar-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    z-index: 11;
}

.progress-bar-icon i {
    margin: 11px 0 0 10px;
}

.progress-bar-text {
    position: absolute;
    top: 8px;
    left: 45px;
    font-size: 1rem;
    font-weight: bold;
    z-index: 11;
}

.container .progress-container .progress-bar span {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    height: 100%;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    border-radius: 5px;
    background: #5BC7BA;

    z-index: 10;
    transition: width .5s linear;
}

.nav2_button {
    position: absolute;
    width: 65%;
    height: 45px;
    left: 20%;
    top: 50%;
 
}

.nav2_button button {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 5px;
    border: none;
}