<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="database.BOOKING_mapper">
	<insert id="joinBooking" parameterType="BOOKING">
		insert into BOOKING values(num_parkings.nextval,#{ID},#{B_DATE},#{B_EXDATE},#{B_TIME},
		#{B_PLACE},#{B_PRICE},#{B_YN})
	</insert>
</mapper>