<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="database.PARKING_mapper">
	<insert id="joinBooking" parameterType="BOOKING">
		insert into BOOKING(B_DATE,B_EXDATE,B_TIME) values(#{B_DATE},#{B_EXDATE},#{B_TIME},
		#{B_NUM,jdbcType="VARCHAR"},#{ID,jdbcType="VARCHAR"},#{B_PLACE,jdbcType="VARCHAR"},#{B_PRICE,jdbcType="VARCHAR"},#{B_YN,jdbcType="VARCHAR"})
	</insert>
</mapper>